* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
}

.flex-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card {
  max-width: 1440px;
  max-height: 800px;
  height: 445px;
  width: 1110px;
  margin: auto;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
  overflow: hidden;

  @media only screen and (max-width: 800px) {
    height: 780px;
    width: 330px;
  }
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 800px) {
    flex-direction: column-reverse;
  }
}

.col_1 {
  width: 100%;
  padding: 70px 100px 70px 65px;

  @media only screen and (max-width: 800px) {
    padding: 35px 33px 0px;
    text-align: center
  }
}

.heading,
.number {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}


.heading {
  font-size: 35px;
  letter-spacing: 0.8px;

  @media only screen and (max-width: 800px) {
    font-size: 27px;
  }
}

.number {
  font-size: 24px;
  font-weight: 500;
}

span {
  color: hsl(277, 64%, 61%);
}

.text {
  color: hsla(0, 0%, 100%, 0.6);
  padding-top: 28px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 14.8px;
  line-height: 25px;
  font-weight: 300;

  @media only screen and (max-width: 800px) {
    text-align: center;
    padding: 15px 0;
  }
}

.detail {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 7px;
}

.image_2 {
  display: none;
}

.col_2 {
  position: relative;
}

.col_2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(82, 0, 121, 0.6);
  mix-blend-mode: normal;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    margin-top: 20px;
  }
}

.col_c {
  margin-right: 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 800px) {
  .image_1 {
    display: none;
  }
  .image_2 {
    display: inline-block;
    height: 240px;
    width: 345px;
  }
  .col_b {
    margin-top: 30px;
  }
  .col_c {
    margin-top: 30px;
    padding-left: 38px;
  }
}
